<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="PmsLogRecord">

		<insert id="insert" parameterType="PmsLogRecord">
			insert into pms_log_record(
			  hotelName,
			  logType,
			<if test="logDesc != null and logDesc !=''">
			   logDesc,
			</if>
			<if test="content != null and content !=''">
				content,
			</if>
				status,
			<if test="errMsg != null and errMsg !=''">
				errMsg,
			</if>
				createTime
			)
			values
			(
			#{hotelName},
			#{logType},
			<if test="logDesc != null and logDesc !=''">
			#{logDesc},
			</if>
			<if test="content != null and content !=''">
			#{content},
			</if>
			#{status},
			<if test="errMsg != null and errMsg !=''">
			#{errMsg},
			</if>
			#{createTime}
			)
		</insert>
	<select id="findByPaging"  parameterType="Map" resultType="PmsLogRecord">
			select * from pms_log_record
			<trim prefix="where"  prefixOverrides="and">
				<if test="cloudBegTime !=null and cloudBegTime !=''">
					and createTime  <![CDATA[ >= ]]> #{cloudBegTime}
				</if>
				<if test="cloudEndTime !=null and cloudEndTime !=''">
					and createTime  <![CDATA[ <= ]]> #{cloudEndTime}
				</if>
				<if test="status !=null and status !=''">
					and status  = #{status}
				</if>
			</trim>
			ORDER BY logId DESC limit #{offset},#{limit}
	</select>
	<select id="pagCount"   parameterType="Map" resultType="java.lang.Integer">
			select count(*) from pms_log_record
			<trim prefix="where"  prefixOverrides="and">
				<if test="cloudBegTime !=null and cloudBegTime !=''">
					and createTime  <![CDATA[ >= ]]> #{cloudBegTime}
				</if>
				<if test="cloudEndTime !=null and cloudEndTime !=''">
					and createTime  <![CDATA[ <= ]]> #{cloudEndTime}
				</if>
				<if test="status !=null and status !=''">
					and status  = #{status}
				</if>
			</trim>
	</select>
	</mapper>
